<section id="about-me">
  <div>
    <h2>About Me</h2>
    <br />
    <p>
      I enjoy connecting with people, exploring new cultures, and discovering new places. I’m passionate about learning new skills and applying them to solve real-world problems. Beyond work, I find joy in cooking and continuously seeking opportunities that challenge me to grow both personally and professionally.
    </p>
    <br />
    <p>
      When I'm not coding, I like:
    </p>
    <div class="code-snippet" aria-label="Code snippet">
      <span class="keyword">let</span><span class="variable"> hobbies</span> 
      = 
      <span class="open-close-symbol">[</span>
      <span class="literal-value">'Running'</span>,
      <span class="literal-value">'Music'</span>,
      <span class="literal-value">'Cooking'</span>,
      <span class="literal-value">'Films & Shows'</span>,
      <span class="literal-value">'Reading']</span>;
    </div>
  </div>
  <div><img src="assets/img/about-me.png" alt="Ashutosh standing in front of charch" /></div>
</section>
